/shared
/local-config.php
/sql-dump-*.sql
/db-sync
/content/upgrade/
.DS_Store

*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
/wp/wp-content/advanced-cache.php
/wp/wp-content/backup-db/
/wp/wp-content/backups/
/wp/wp-content/blogs.dir/
/wp/wp-content/cache/
/wp/wp-content/themes/*
/wp/wp-content/upgrade/
/wp/wp-content/uploads/
/wp/wp-content/wp-cache-config.php
/wp/wp-content/plugins/hello.php

/wp/readme.html
/wp/license.txt